.work {
  width: 100vw;
  min-width: 300px;
  display: flex;
  padding: 48px;
  background-color: #0ff;
}

.workgrid {
  width: 100%;
  display: grid;
  grid-template-rows: 0.35fr;
  grid-auto-rows: 0.35fr;
  grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
  gap: 30px;
}

.workitem {
  min-height: 35vh;
}

.worktitle {
  width: 100%;
  height: 20%;
}

.worktitle h1 {
  font-family: "Twobit Bold";
  font-size: 3rem;
  line-height: 0;
  letter-spacing: 0.2rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: 14px;
  background-color: black;
  padding: 3rem 2rem 2rem;
  text-align: center;
}

.threequartercard {
  width: 100%;
  height: 80%;
}

.card h2 {
  width: 100%;
  align-self: flex-end;
  font-size: 24px;
  font-weight: 700;
  color: #0ff;
  padding-bottom: 2rem;
}

.logo {
  position: relative;
  width: 100%;
  height: 40%;
  min-height: 2rem;
  margin-top: -0.5rem;
}

@media screen and (max-width: 768px) {
  .workgrid {
    grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
  }

  .threequartercard .logo {
    position: relative;
    margin-top: -1rem;
  }
}

@media (max-width: 768px), (min-width: 821px) {
  .threequartercard .logo {
    position: relative;
    margin-top: -2rem;
  }
}
