.slot,
.firstslot {
    min-width: 15vw;
    min-height: 30vh;
    max-height: 300px;
    margin: .5rem;
}

.responsive {
    display: none;
}

.firstresponsive {
    display: inline-block;
}

.title {
    width: 100%;
    padding-bottom: 3.6rem;
}

.title h1 {
    font-family: "Twobit Bold";
    line-height: 0;
    color: #000;
}

.card {
    width: 100%;
    height: 100%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    border-radius: 1.1rem;
    background-color: black;
}

.firstcard.card {
    width: 100%;
    height: 80%;
}

.card:hover {
    background-color: #fff;
}

.card:hover h2 {
    color: black;
}

.cardimage {
    position: relative;
    width: 100%;
    min-height: 8rem;
    margin-top: 1rem;
}

.firstcard .cardimage {
    min-height: 6rem;
}

.card h2 {
    align-self: center;
    color: #fff;
    letter-spacing: .25rem;
    font-size: 2.4rem;
}

@media screen and (max-width: 650px) {
    .slot {
        margin: 0;
    }
}

@media (min-width: 920px) {

    .slot,
    .firstslot {
        margin: .25rem;
    }

    .firstslot .card {
        display: none;
    }

    .firstresponsive {
        display: inline-block;
    }

    .partial.responsive {
        display: none;
    }

    .responsive {
        display: inline-block;
    }

}