.intro,
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-top: 48px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
}

.intro {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: black;
}

.flair {
    position: relative;
    width: 100%;
    height: 25vh;
    min-height: 200px;
    margin-top: 1rem;
}

.about {
    flex-direction: column;
    background-color: #edf0f2;
    padding-top: 0;
    min-height: 725px;
}

.abouttitle {
    align-self: flex-start;
    width: 100%;
    height: 35%;
    min-height: 200px;
}

.aboutsvg {
    background-image: url(/about.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.abouttext {
    align-self: center;
    width: 75%;
    text-align: center;
    padding-bottom: 64px;
    margin-top: -1rem;
}

.abouttext p {
    font-size: 1.2rem;
    color: #000;
}

.abouttext ul {
    margin-top: 2rem;
}

.abouttext li {
    margin: 1rem 0;
}

.buttongroup {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 150px;
}

@media screen and (max-width: 740px) {
    .main {
        flex-direction: column;
        min-height: fit-content;
    }

    .about {
        width: 100%;
        min-width: 300px;
        min-height: 100vh;
    }

    .intro {
        width: 100%;
        height: 60vh;
        flex-direction: column-reverse;
        padding-top: 0;
    }

    .flair {
        margin-top: 0;
    }

    .hero {
        width: 125%;
        height: 50vh;
    }

    .abouttitle {
        min-height: 30vh;
    }

    .buttongroup {
        flex-direction: column;
    }

    .button {
        display: block;
        width: 65%;
        margin-bottom: 21px;
    }
}